var strobj = {
  subStr:function (val) {
    if (val) {
      //console.log(val)
      //console.log(val.length)
      return val.substring(val.length-4, val.legnth)
    } else {
      return 'blank.png'
    }
  },

  strLenth:function (str,needlenth) {
    if (str) {
      return str.lenth - needlenth
    } else {
      return -1
    }
  }
}
module.exports = {
  subStr: strobj.subStr,
  strLenth: strobj.strLenth
};
